.editDriverContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 450px;
    height: 240px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20%;
}

.editDriverContainer header {
    height: 40px;
    background-color: rgba(34, 137, 203, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.editDriverContainer .searchedDriverData {
    position: absolute;
    top: 25px;
    height: auto;
    max-height: 100px;
    width: 85%;
    overflow-y: auto;
    background-color: white;
    border: 1px solid gray;
    border-top: none;
    font-size: 13px;
}

.editDriverContainer .searchedDriverData .singleDriverData {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 5px 10px; 
    border-bottom: 1px solid gray; 
    cursor: pointer; 
}

.searchedDriverData .singleDriverData:hover {
    background-color: rgb(247, 247, 247);
}

.editDriverContainer input {
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    width: 85%;
    height: 25px;
}

.editDriverContainer input:nth-child(1) {
    /* margin-bottom: 15px; */
}

.editDriverContainer main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editDriverContainer footer {
    align-self: flex-end;
    margin-bottom: 10px;
    margin-right: 7.5%;
}

.editDriverContainer footer button {
    padding: 7px 21px;
    background-color: rgba(42, 149, 69, 255);
    border: 1px solid rgba(42, 149, 69, 255);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}