.chatbot-container img {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  height: 100px;
  width: 100px;
}

.chatbot-container .main-body {
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
  height: 400px;
  width: 350px;
  position: absolute;
  bottom: 110px;
  right: 20px;
}

.main-body .chat {
  height: 85%;
}

.main-body .chat-footer {
  width: 90%;
  position: relative;
  height: 30px;
  margin: 10px 20px;
  display: flex;
  align-items: center;
}

.chat-footer input {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  padding: 0 10px;
  outline: none;
}

.chat-footer .sendIcon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.chat-footer .sendIcon :hover {
  transform: scale(1.1);
}
