.privateDriver-addEdit .standard-basic {
    width: 25%;
    margin-left: 2%;
    height: 40px;
}

.privateDriver-addEdit .section-1 {
    position: relative;
}

.privateDriver-addEdit .section-1 .searchedCorporates {
    position: absolute;
    width: 25%;
    top: 48px;
    left: 2%;
    background-color: white;
    height: 10px;
    /* border: 1px solid black; */
}

.privateDriver-addEdit .searchedCorporates p {
    border: 1px solid gray;
    border-top: none;
    padding: 3px 7px;
    overflow: auto;
}